<template>
  <q-page padding>
    <div id="list" v-if="user" class="justify-center">
      <q-card>
        <q-card-section>
          <div
            class="text-center text-h6"
            v-text="$t('accountDetails')"
          />
        </q-card-section>
        <q-card-section>
          <div class="text-h6" v-text="user.phone"/>
          <div class="row">
            <div
              class="text-subtitle1 col-2"
              v-text="$t('customerRating')"
            />
            <q-rating
              v-model="user.customerRatingValue"
              :max="5"
              size="18px"
              :readonly="true"
            />
          </div>
          <div class="row">
            <div
              class="text-subtitle1 col-2"
              v-text="$t('workerRating')"
            />
            <q-rating
              v-model="user.workerRatingValue"
              :max="5"
              size="18px"
              :readonly="true"
            />
          </div>
        </q-card-section>

        <q-separator/>

        <q-card-actions align="right">
          <q-btn
            flat
            :label="$t('edit')"
          />
        </q-card-actions>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'AccountPage',
  data() {
    return {};
  },
  computed: {
    ...mapState(['user']),
  },
};
</script>
