<template>
  <q-page padding>
    <div class="row justify-center">
      <div class="col-5"/>
      <div class="col-2"/>
      <q-btn
        color="primary"
        :label="$t('login')"
        @click="submit"
        class="col-3"
      />
      <div class="col-2"/>
    </div>
    <div class="row justify-center">
      <q-input
        ref="codeInput"
        v-model="form.code"
        type="text"
        @blur="$v.form.code.$touch"
        maxlength="6"
        @keyup.enter="submit"
        :error="$v.form.code.$error"
        :label="$t('confirmCode')"
        placeholder="777777"
        class="col-8"
      />
    </div>
  </q-page>
</template>

<script>
import { required, minLength, maxLength, numeric } from 'vuelidate/lib/validators';

export default {
  name: 'ConfirmPage',
  props: {
    name: {
      type: String,
    },
  },
  data() {
    return {
      form: {
        code: '',
      },
    };
  },
  validations: {
    form: {
      code: {
        required,
        numeric,
        minLength: minLength(6),
        maxLength: maxLength(6),
      },
    },
  },
  mounted() {
    this.$refs.codeInput.focus();
  },
  methods: {
    async submit() {
      this.$v.form.$touch();

      if (this.$v.form.$error) {
        this.$q.notify('Please review fields again.');

        return;
      }

      if (this.$attrs.phoneCountryCode === undefined || this.$attrs.phoneNumber === undefined) {
        this.$router.push({
          name: 'login',
          params: {},
        });
      } else {
        const data = JSON.stringify({
          phoneCountryCode: this.$attrs.phoneCountryCode,
          phoneNumber: this.$attrs.phoneNumber,
          authCode: this.$v.form.code.$model,
        });

        this.$store.dispatch('confirmLogin', data)
          .then(() => {
            this.$router.push({
              name: 'profile',
              params: {
                phoneCountryCode: this.$attrs.phoneCountryCode,
                phoneNumber: this.$attrs.phoneNumber,
              },
            });
          });
      }
    },
  },
};
</script>
