<template>
  <q-page padding>
    <div class="row justify-center">
      <div class="col-5"/>
      <div class="col-2"/>
      <q-btn
        color="primary"
        :label="$t('next')"
        @click="submit"
        class="col-3"
      />
      <div class="col-2"/>
    </div>
    <div class="row justify-center">
      <q-input
        ref="codeInput"
        v-model="form.code"
        type="text"
        prefix="+"
        @blur="$v.form.code.$touch"
        @keyup.enter="submit"
        :error="$v.form.code.$error"
        :label="$t('countryCode')"
        placeholder="7"
        class="col-8"
      />
    </div>
    <div class="row justify-center">
      <q-input
        v-model="form.num"
        type="text"
        maxlength="10"
        @blur="$v.form.num.$touch"
        @keyup.enter="submit"
        :error="$v.form.num.$error"
        :label="$t('phoneNumber')"
        placeholder="1234567890"
        class="col-8"
      />
    </div>
  </q-page>
</template>

<script>
import { required, minLength, maxLength, numeric } from 'vuelidate/lib/validators';

export default {
  name: 'LoginPage',
  data() {
    return {
      form: {
        code: '',
        num: '',
      },
    };
  },
  validations: {
    form: {
      code: {
        required,
        numeric,
      },
      num: {
        required,
        numeric,
        minLength: minLength(10),
        maxLength: maxLength(10),
      },
    },
  },
  mounted() {
    this.$refs.codeInput.focus();
  },
  methods: {
    async submit() {
      this.$v.form.$touch();

      if (this.$v.form.$error) {
        this.$q.notify('Please review fields again.');
      } else {
        const userInfo = JSON.stringify({
          phoneCountryCode: this.$v.form.code.$model,
          phoneNumber: this.$v.form.num.$model,
        });

        this.$store.dispatch('loginUser', userInfo)
          .then(() => {
            this.$router.push({
              name: 'confirm',
              params: {
                phoneCountryCode: this.$v.form.code.$model,
                phoneNumber: this.$v.form.num.$model,
              },
            });
          });
      }
    },
  },
};
</script>
