<template>
  <q-page>
    <h4
      class="row justify-center"
      v-text="$t('addNewOrder')"
    />
    <div class="row justify-center">
      <div class="col-8">
        <q-input
          v-model="name"
          :label="$t('orderShortDesc')"
        />
        <q-input
          v-model="description"
          type="textarea"
          class="col-8"
          :label="$t('orderShortDescLabel')"
        />
        <q-input
          v-model="priceLow"
          type="number"
          class="col-8"
          :label="$t('priceFrom')"
        />
        <q-input
          v-model="priceHigh"
          type="number"
          class="col-8"
          :label="$t('priceTo')"
        />
        <div class="row q-py-md">
          <div class="col-xs-12 col-sm-6">
            <q-input
              filled
              v-model="startDate"
              :label="$t('startDateAndTime')"
              class="q-pa-sm"
            >
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="startDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      v-model="startDate"
                      mask="YYYY-MM-DD HH:mm"
                      @input="() => $refs.startDateProxy.hide()"
                    />
                  </q-popup-proxy>
                </q-icon>
              </template>

              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy
                    ref="startTimeProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-time
                      v-model="startDate"
                      mask="YYYY-MM-DD HH:mm"
                      format24h
                      @input="() => $refs.startTimeProxy.hide()"
                    />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6">
            <q-input
              filled
              v-model="endDate"
              :label="$t('endDateAndTime')"
              class="q-pa-sm"
            >
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="endDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      v-model="endDate"
                      mask="YYYY-MM-DD HH:mm"
                      @input="() => $refs.endDateProxy.hide()"
                    />
                  </q-popup-proxy>
                </q-icon>
              </template>

              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy
                    ref="endTimeProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-time
                      v-model="endDate"
                      mask="YYYY-MM-DD HH:mm"
                      format24h
                      @input="() => $refs.endTimeProxy.hide()"
                    />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div>
      <q-card-actions align="center">
        <q-btn
          color="primary"
          :label="$t('save')"
          @click="createOrder"
        />
      </q-card-actions>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'NewOrderPage',
  data() {
    return {
      name: '',
      description: '',
      priceLow: '',
      priceHigh: '',
      startDate: '',
      endDate: '',
    };
  },
  methods: {
    async createOrder() {
      const order = {
        name: this.name,
        description: this.description,
        customer: this.$q.cookies.get('id'),
        order_category: [10],
        coordinates: {
          x: 55.439548,
          y: 43.7432243,
          r: 10,
        },
        start_date: this.startDate,
        end_date: this.endDate,
        price_low: this.priceLow,
        price_high: this.priceHigh,
        currency: 3,
        safe_deal: true,
        attached: {},
        customer_notifications: true,
        worker_notifications: false,
        multipleSelect: this.multipleSelect,
      };

      this.$store.dispatch('orders/addOrder', order);
    },
  },
};
</script>
