<template>
  <q-page padding>
    <div id="list" v-if="order" class="justify-center">
      <q-card>
        <q-card-section>
          <div
            class="text-center text-h6"
            v-text="$t('orderDetails')"
          />
        </q-card-section>
        <q-card-section>
          <div
            class="text-h6"
            v-text="`${$t('orderNum')} ${order.id}`"
          />
          <div class="row">
            <div v-text="`${$t('price')}:`"/>
            <div v-text="`${order.priceLow} - ${order.priceHigh}`"/>
          </div>
          <div class="row">
            <div v-text="`${$t('deadline')}:`"/>
            <div v-text="'32ч'"/>
          </div>
          <div class="row">
            <div v-text="`${$t('customerRating')}:`"/>
            <q-rating
              v-model="order.customerRatingValue"
              :max="5"
              :readonly="true"
            />
          </div>
          <div class="row">
            <div v-text="`${$t('distance')}:`"/>
            <div>
              <q-icon name="place"/>
              {{ order.distanceValue }}
            </div>
          </div>
          <div class="row">
            <div v-text="`${$t('description')}:`"/>
            <div v-text="order.description"/>
          </div>
          <div v-if="order.safeDealValue" v-text="$t('safeDeal')"/>
          <!-- <q-field
            v-if="order.safeDealValue"
            :label="$t('safeDeal')"
          /> -->
          <div class="row">
            <div v-text="`${$t('orderState')}:`"/>
            <div v-text="'Открыт'"/>
          </div>
          <div class="row">
            <div
              v-if="order.attachmentPhoto"
              v-text="`${$t('attachment')}:`"
            />
            <div v-text="order.attachmentPhoto"/>
          </div>
          <div class="row">
            <div
              v-if="order.attachemetFiles"
              v-text="`${$t('attachment')}:`"
            />
            <div v-text="order.attachemetFiles"/>
          </div>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
          <div class="column">
            <p v-text="$t('responded')"/>{{ order.responses && order.responses.length }}
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <edit-order
            :order="order"
            v-if="isCustomer"
          />
          <q-btn
            flat
            :label="$t('submitAProposal')"
            @click="orderResponse"
          />
        </q-card-actions>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex';
import EditOrder from 'components/EditOrder.vue';

export default {
  name: 'OrderPage',
  data() {
    return {};
  },
  created() {
    this.$store.dispatch('orders/fetchOrder', this.$attrs.id);
  },
  computed: {
    ...mapState('orders', ['order']),
    isCustomer() {
      return this.order.customer === this.$q.cookies.get('id');
    },
  },
  methods: {
    orderResponse() {
      this.$store.dispatch(
        'orders/orderResponse',
        this.$q.cookies.get('id'),
      );
    },
  },
  components: {
    EditOrder,
  },
};
</script>
