<template>
  <q-page padding>
    <div id="list" v-if="orders.length" class="justify-center">
      <q-list>
        <q-card
          :key="index"
          v-for="(order, index) in orders"
          class="q-ma-md"
          @click.native="$router.push({
            name: 'order',
            params: { id: order.id },
          })"
        >
          <q-card-section class="row">
            <div class="text-h6 col-4">
              {{ $t('orderNum')}}
              {{ order.id }}
            </div>
            <div class="col-4 text-center">
              <q-rating
                size="24px"
                v-model="order.customerRatingValue"
                :max="5"
                :readonly="true"
              />
            </div>
            <div class="col-4 text-right">
              <q-icon name="place"/> {{ order.distanceValue }}
            </div>
          </q-card-section>
          <q-card-section v-text="order.name"/>

          <q-separator/>

          <q-card-actions align="between" class="q-px-md items-center">
            <div v-text="`${$t('deadline')}:${order.deadline}`"/>
            <div v-text="order.priceHigh"/>
            <q-btn
              flat
              :label="$t('description')"
              @click="$router.push({
                name: 'order',
                params: { id: order.id },
              })"
            />
          </q-card-actions>
        </q-card>
      </q-list>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'ProfilePage',
  data() {
    return {};
  },
  created() {
    this.$store.dispatch('orders/fetchAllOrders');
  },
  computed: {
    ...mapState('orders', ['orders']),
  },
};
</script>
