<template>
  <div>
    <q-btn
      flat
      :label="$t('edit')"
      @click="onEdit"
    />
    <q-dialog
      v-model="editOrder"
      :content-css="{width: '500px', padding: '20px'}"
    >
      <q-card style="width: 500px">
        <q-card-section>
          <div class="text-h5 text-center">
            {{$t('edit')}} {{$t('order')}}
          </div>
          <q-input
            v-model="editDescription"
            :label="$t('description')"
          />
          <q-input
            v-model="editPriceLow"
            :label="$t('price')"
          />
          <q-input
            v-model="editPriceHigh"
            :label="$t('price')"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="primary"
            :label="$t('save')"
            @click="onSave"
          />
          <q-btn
            color="amber"
            :label="$t('cancel')"
            @click="onCancel"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  props: ['order'],
  data() {
    return {
      editOrder: false,
      editDescription: null,
      editPriceLow: null,
      editPriceHigh: null,
    };
  },
  methods: {
    changeData() {
      this.editDescription = this.order.description;
      this.editPriceLow = this.order.priceLow;
      this.editPriceHigh = this.order.priceHigh;
    },
    onCancel() {
      this.editOrder = false;
      this.changeData();
    },
    onSave() {
      if (this.editDescription !== '' && this.editPriceLow !== '' && this.editPriceHigh !== '') {
        this.$store.dispatch('orders/updateOrder', {
          priceLow: this.editPriceLow,
          priceHigh: this.editPriceHigh,
          description: this.editDescription,
        });
        this.editOrder = false;
      }
    },
    onEdit() {
      this.changeData();
      this.editOrder = true;
    },
  },
};

</script>
