<template>
  <q-layout>
    <q-header>
      <q-toolbar>
        <q-btn
          flat
          round
          dense
          icon="menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-toolbar-title v-text="$t('appName')"/>
        <q-btn :label="$t('logout')" @click.native="onLogout"/>
      </q-toolbar>
    </q-header>

    <q-drawer
      side="left"
      v-model="leftDrawerOpen"
    >
      <q-list
        no-border
        link
      >
        <q-item-label header v-text="$t('username')"/>
        <q-item @click.native="$router.push({ name: 'new' })">
          <q-item-section avatar>
            <q-icon name="add"/>
          </q-item-section>
          <q-item-section v-text="$t('newOrder')"/>
        </q-item>
        <q-item @click.native="$router.push({ name: 'profile' })">
          <q-item-section avatar>
            <q-icon name="code"/>
          </q-item-section>
          <q-item-section v-text="$t('myOrders')"/>
        </q-item>
        <q-separator inset/>
        <q-item
          @click.native="$router.push({
            name: 'account',
            params: {},
          })"
        >
          <q-item-section avatar>
            <q-icon name="code"/>
          </q-item-section>
          <q-item-section v-text="$t('account')"/>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container v-show="loading || error">
      <q-page class="flex items-center justify-center">
        <q-spinner
          v-if="loading"
          color="primary"
          size="2em"
        />
        <div
          v-if="error"
          class="text-center text-negative"
        >
          <p v-text="$t('failed')"/>
          <p v-text="error"/>
        </div>
      </q-page>
    </q-page-container>

    <q-page-container>
      <router-view v-show="!loading && !error"/>
    </q-page-container>

  </q-layout>
</template>

<script>
import { mapState } from 'vuex';
import { Cookies } from 'quasar';

export default {
  name: 'MainLayout',
  preFetch({ store, ssrContext }) {
    const id = Cookies.parseSSR(ssrContext).get('id');

    if (!id) return Promise.resolve();

    return store.dispatch('fetchUser', id);
  },
  data() {
    return {
      leftDrawerOpen: false,
    };
  },
  computed: {
    ...mapState(['error', 'loading']),
  },
  methods: {
    onLogout() {
      this.$store.dispatch('logoutUser')
        .then(() => this.$router.push({ name: 'login' }));
    },
  },
};
</script>
